@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    font-size: 1rem; /* equivalente a text-base en Tailwind */
    background-image: url("/fondo.jpg");
    font-family: 'Castoro', Arial, Helvetica, sans-serif;
  }
}

@layer components {

  .titulo {
    @apply text-center bg-cover bg-bottom bg-no-repeat w-screen min-h-[40rem] ml-[calc(50%-50vw)];
    background-image: url("/img/muelle_prat.jpg");
  }

  .titulo h1 {
    @apply p-1 text-[4rem] text-gray-600 underline tracking-[1.2rem];
    -webkit-text-stroke: #000 2px;
  }

  .titulo h2 {
    @apply text-[2rem] text-gray-600;
    -webkit-text-stroke: #000 2px;
  }

  .cuota {
    @apply text-[1.3em] my-20 mx-auto p-20 min-w-[30%] max-w-[60%] bg-[whitesmoke] text-center italic;
  }

  .contenido {
    @apply text-center mx-auto my-8 px-8 py-20 bg-[rgba(240,240,240,0.9)] min-w-[30%] max-w-[80%];
  }

  .contenido .imagen {
    @apply flex justify-center items-center mx-auto my-8;
  }

  .contenido .imagen img {
    @apply border border-gray-600 p-4;
  }

  .contenido .texto {
    @apply m-12 text-center text-[1.3em] leading-[1.3em] rounded-lg;
  }

  footer {
    @apply bg-white flex justify-between items-center py-4 px-20 relative w-screen z-[100];
  }

  footer .datos {
    @apply flex;
  }

  footer .logo {
    @apply flex items-center min-w-[50px] max-w-[200px];
  }

  .targeta {
    @apply flex mx-auto my-4 bg-[rgba(255,255,255,0.8)] min-w-[30%] max-w-[80%];
  }

  .targeta2 {
    @apply flex justify-between mx-auto my-4 bg-[rgba(255,255,255,0.8)] min-w-[30%] max-w-[80%];
  }

  .descripcion {
    @apply p-8;
  }

  .descripcion h3 {
    @apply text-[2em] font-bold mb-2;
  }

  .contenido .Galeria {
    @apply mx-auto my-8 max-w-[800px] min-w-[200px];
  }

  .contenido .Galeria h2 {
    @apply text-[2em] font-bold;
  }
}

@theme inline {
  --animate-pulse: pulse var(--duration) ease-out infinite;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  @keyframes pulse {
  0%, 100% {
    boxShadow: 0 0 0 0 var(--pulse-color);
    }
  50% {
    boxShadow: 0 0 0 8px var(--pulse-color);
    }
  }
  @keyframes pulse {
  0%, 100% {
    boxShadow: 0 0 0 0 var(--pulse-color);
    }
  50% {
    boxShadow: 0 0 0 8px var(--pulse-color);
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}